---
import BaseLayout from './BaseLayout.astro';
import Footer from '@components/Footer/Footer.astro';
import Header from '@components/Header/Header.astro';

import fetchApi from '@api/index';
import type Global from '@api/types/global';

interface Props {
	title: string;
	description: string;
  innerClass?: string
}

const { title, description, innerClass = 'inner' } = Astro.props;

const global = await fetchApi<Global>({
  endpoint: 'global', 
  wrappedByKey: 'data',
  query: {
    populate: '*'
  } 
});
---

<BaseLayout title={title} description={description}>
  <div class="wrap">
    <Header content={global.attributes.header} />
      <main>
        <div class={innerClass}>
          <slot />
        </div>
      </main>
    <Footer content={global.attributes.footer} />
  </div>
</BaseLayout>

<style lang="scss">
  @import '@styles/mixins';

  div.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1;
	}
  
  div.inner {
    @include container;
  }
</style>